<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shigan.mapper.FunctionMapper">
    <resultMap id="functionMap" type="function">
        <id property="id" column="id"></id>
        <result property="functionname" column="functionname"></result>
        <result property="url" column="url"></result>
        <result property="mainfunctionid" column="mainfunctionid"></result>
    </resultMap>



    <!--主权限-->
    <resultMap id="mainfunctionMap" type="mainfunction">
        <id property="id" column="id"></id>
        <result property="mainfunctionname" column="mainfunctionname"></result>
    </resultMap>


    <select id="getFunction" parameterType="function" resultMap="functionMap">
        SELECT * FROM FUNCTION WHERE id IN (SELECT functionid FROM userrole WHERE roleid=#{roleid}) and mainfunctionid=#{mainfunctionid}
    </select>

    <!--查找主权限-->
    <select id="getmainfunction" resultMap="mainfunctionMap">
        select * from mainfunction
    </select>

</mapper>